.contact-container{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
        "form info"
        "form map";
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.contact{
    padding: 40px;
    background: #eee;
    /* box-shadow: 0 5px 35px rgba(0,0,0,0.15); */
    border-radius: 20px;
    border: 1.5px solid var(--color-gray);
}

.contact h2{
    margin-bottom: 10px;
}

.form{
    grid-area: form;

}

.info{
    grid-area: info;
}


.form-box{
    position: relative;
    width: 100%;
}

.form-box .row50{
    display: flex;
    gap: 20px;

}

.form-box .row100 .input-box{
    width: 100%;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.input-box span{
    color: #cd57ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.input-box input{
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid #333;
}

.input-box textarea{
    padding: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.input-box input[type="submit"]{
    background: #cd57ff;
    color: #fff;
    border: none;
    font-size: 18px;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
}

.map{
    grid-area: map;
    padding: 0;
    overflow: hidden;
}